{% extends 'base.html' %}

{% block content %}

    <div class="row intro">


        <div class="left col-md-offset-1 col-md-10">

            <div class="center">
                <h2>পাইথন বাংলাদেশ - অনলাইন আড্ডা</h2>

                <div>
                    <iframe width="660" height="415" src="//www.youtube.com/embed/hikn_2tuSZo" frameborder="0" allowfullscreen></iframe>
                </div>
                <br/>

                ইভেন্ট চলাকালীন সময়ে, বা তার আগে ও পরে, যে কোন ধরনের প্রশ্ন করতে পারেন আমাদের ফেইসবুক গ্রুপে -
                <a target="_blank" href="http://fb.pybd.org">PyCharmers</a>
                <br/><br/>

            </div>
        </div>


    </div>

{% endblock %}