{% extends 'base.html' %}

{% block content %}

    <div class="row intro">

        <div class="center">
            <img class="logo" src="{{ STATIC_URL }}images/logo.jpg" alt="logo"/>
            <br/><br/>
        </div>

        <div class="left col-md-offset-1 col-md-10">
            Python Bangladesh is the largest Python User Group from Bangladesh with over 6K+ registered members.
            It is a platform for the python enthusiasts to learn, share and grow together. Our facebook group
            "PyCharmers" is the center of our online activities. We also do offline meetups and arrange PyCons.
        </div>


    </div>

{% endblock %}