{% extends 'base.html' %}

{% block content %}

    <div class="row intro">


        <div class="left col-md-offset-1 col-md-10">

            <div class="center">
                <h3>Sign up for <a href="http://pybd.slack.com" target="_blank">Python Bangladesh Slack</a></h3>


                <form action="{% url 'slack' %}" method="post">
                    {% csrf_token %}
                    {% if message %}
                        <div class="alert alert-warning" role="alert">{{ message }}</div>
                    {% endif %}
                    <strong>Email:</strong><br/>
                    <input type="email" name="email"><br/>
                    <input class="btn btn-success" type="submit" value="Sign Up">

                </form>
            </div>
        </div>


    </div>

{% endblock %}